.recipe-list {
    margin: 10px 80px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 30px;
}

.recipe-list a{
    text-decoration: none;
    color: #34393a;

}

@media screen and (max-width: 500px){
    .recipe-list{
        margin: 10px 15px;
    }
}