.recipe-details .img-container{
    width:100%
    
}

.recipe-details img {
    width:100%;
    -webkit-mask-image: linear-gradient(360deg, black 0%, black 37% ,transparent);
}

.recipe-details{
    margin-left:auto;
    margin-right: auto;
    width: 50%;
    border-left: 1px solid #d6d3d3;
    border-right: 1px solid #d6d3d3;
    /* border-radius: 1.25%; */
    color: #34393a;
}

.recipe-details .recipe-desc{
    margin-left: 15px;
}

.recipe-details h3{
    margin-top: 10px;;
}

@media screen and (max-width: 850px){
    .recipe-details{
        width:80%;
        /* border:none; */
    }
}


@media screen and (max-width: 700px){
    .recipe-details{
        width:100%;
        border:none;
    }
}